.language-toggle {
  position: relative;
  display: inline-block;
  margin-left : 20px;
  margin-top :10px;
  transition: transform 0.3s ease-out;
}

.language-toggle:hover{
  transform: scale(1.05);
}

.toggle-btn {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  cursor: pointer;
  background-color : black;
  border-radius :50%;
}

#language-switch {
  display: none;
}

#language-switch:checked + .toggle-btn {
  background-image: url('greece.jpg'); /* Replace with the path to your Greece flag image */
}

#language-switch:not(:checked) + .toggle-btn {
  background-image: url('america.jpg'); /* Replace with the path to your USA flag image */
}

#language-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: black;
  font-size : 20px;
}


.language-toggle:hover:after {
  content: attr(data-tooltip-gre);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}
